body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#login-signup {
  float: right; 
  margin-right: 70px;
  background-color: #FDFDFD;
  border-radius: 26px;
  margin-top: 12%;
  font-size: x-large;
  padding: 105px;
  font-style: inherit;

}

#app-logo {
  max-height: 200px;
  min-height: auto;
  margin-top: 15%;
  border-radius: 10%;
  margin-left: 10%;
}


#logout-btn {
  float: right;
  padding: 2px;
  background-color: #FDFDFD;
  margin-right: 50px;
  margin-top: 12px;

}

.current-user {
  margin-left: 20px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}

.expense-form {
  border:none;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  border-radius: 26px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  background-color: white;
  margin-bottom: 24px;
}

.expense-label {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: x-large;
  margin-right: 10px;
}

.expense-label-2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: x-large;
  margin-right: 44px;
}

.expense-div {
  margin-top: 50px;
  margin-left: 70px;

}

#category-li {
  font-size: small;
}

.expenses-li {
  text-align: left;
  font-weight:lighter
}



.category-name {
  font-size: x-large;
  justify-content: center;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  background-color: #D0E3CD;
  text-align: center;
  padding: 9px;
}

.expense-card {
  float: left;
    width: 49%;
    padding: 25px;
    font-size: small;
    background-color: white;
    border-radius: 30px;
    margin: 5px;
    margin-top: 20px;
    padding: 60px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:large;
}

.edit-expense-form {
  text-align: left;
}
.nav-link {
  margin-left: 10px;
}

.delete-btn {
  margin-right: 8px;
}

hr {
  height: 3px;
  background-color: black;
  border: none;
}

#nav-bar {
  background-color: #FDFDFD;
  padding: 10px;
  font-weight: bold;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
}

.auth-field {
  display: flex;
  border:none;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  border-radius: 26px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  background-color: #EFEFEF;
  margin-bottom: 10px;
}

.column {
  float: left;
  width: 50%;

}

.category-menu {
  border: none;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  border-radius: 26px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  background-color: white;
  margin-bottom: 24px;
  margin-left: 12px;
}
.delete-div,
.delete-and-edit {

  display: flex;
  flex-direction:row-reverse
}

.error-messages {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: red;
}

.login-btn {
  font-size:x-large;
  justify-content: center;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  margin-left: 18%;
  margin-bottom: 7px;
  padding: 8px;
  padding-left: 80px;
  padding-right: 80px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #BED2C4;
}

.create-acc-btn {
  font-size:x-large;
  justify-content: center;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  margin-left: 17%;
  margin-top: 7px;
  padding: 8px;

  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #D0E3CD;
}


nav a.active {
  height: 50 vh;
  min-height: 400px;
  color: black;
  border-radius: 12px;
  background-color: #BED2C4; 
  font-family: 'Times New Roman', Times, serif;

}

button {
  font-size: large;
  justify-content: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  background-color: #FDFDFD;
  /* background-color: #BED2C4; */

}

body {
  background-color: #EFEFEF;
}

ul {
  list-style-type: none;
}

